@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@mixin simple-box {
	padding: 0;
	margin: 0;
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// PALET: https://coolors.co/2b2d42-8d99ae-f0f5f6-ef233c-d90429

* {
	&::selection {
		background-color: var(--text-3);
		color: var(--palet-2);
	}
}

:root {
	/*--palet-1: #2b2d42;
	--palet-2: #8d99ae;
	--palet-3: #f0f5f6;
	--palet-4: #ef233c;
	--palet-5: #d90429;

	--text-1: #2b2d42;
	--text-2: #8d99ae;
	--text-3: #ef233c;*/

	--palet-1: #000000;
	--palet-2: #162443;
	--palet-3: #d28402;
	--palet-4: #232527;
	--palet-5: #1a1d1e;

	--text-1: #2b2d42;
	--text-2: #8d99ae;
	--text-3: #d28402;

	font-size: 22px;
}

body {
	@include simple-box();
	font-family: 'Montserrat', sans-serif;

	background-color: var(--palet-3);
	color: var(--text-1);

	text-align: center;
}

a {
	text-decoration: none;

	color: white;

	transition: color ease-in 100ms;

	cursor: pointer;

	&:hover {
		color: var(--text-3);
	}
}

.app {
	@include simple-box();

	> header {
		@include center();

		background-color: var(--palet-5);

		position: sticky;
		top: 0;

		z-index: 9999999;

		height: 8vh;

		padding: 0px 10vw;

		ul,
		nav {
			width: 100%;
		}

		ul {
			@include center();

			list-style: none;

			flex-direction: row;

			justify-content: flex-end;

			> * {
				margin: 1vw;
			}
		}
	}
	main {
		min-height: 92vh;
	}

	> footer {
		height: 25vh;

		background-color: var(--palet-2);
	}
}

.header-sub {
	position: relative;
	top: -1.6em;

	color: var(--text-2);
	opacity: 0.7;
	font-size: 0.9rem;
}

.center {
	@include center();
}

/*
TODO: IMPLEMENT THIS FUCKERY

* {
	animation: animin infinite 2s;
}

@keyframes animin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
*/
