@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@mixin simple-box {
	padding: 0;
	margin: 0;
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// PALET: https://coolors.co/2b2d42-8d99ae-f0f5f6-ef233c-d90429

$palet-1: #2B2D42;
$palet-2: #8D99AE;
$palet-3: #EDF2F4;

$text-1: #EDF2F4;
$text-2: #F0F5F6;
$text-3: #EF233C;

:root {
	font-size: 22px;
}

body {
	@include simple-box();
	font-family: 'Montserrat', sans-serif;

	background-color: $palet-1;
	color: $text-1;

	text-align: center;
}

.app {
	@include simple-box();

	> header {
		@include center();

		background-color: $palet-2;

		position: sticky;
		top: 0;

		z-index: 9999999;

		height: 8vh;

		padding: 0px 10vw;

		ul,
		nav {
			width: 100%;
		}

		ul {
			@include center();

			list-style: none;

			flex-direction: row;

			justify-content: flex-end;

			> * {
				margin: 1vw;
			}
		}
	}
	main {
		min-height: 92vh;
	}

	> footer {
		height: 25vh;

		background-color: $palet-3;
	}
}

.header-sub {
	position: relative;
	top: -3vh;

	color: $text-2;
	opacity: 0.7;
	font-size: 0.9rem;
}

a {
	text-decoration: none;

	color: white;

	transition: color ease-in 100ms;

	cursor: pointer;

	&:hover {
		color: $text-3;
	}
}

/*
TODO: IMPLEMENT THIS FUCKERY

* {
	animation: animin infinite 2s;
}

@keyframes animin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
*/
