@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@mixin simple-box {
	padding: 0;
	margin: 0;
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin input {
	box-sizing: border-box;

	padding: 10px;

	border: solid 2px var(--palet-4);
	border-radius: 15px;

	color: white;
	box-shadow: inset 0 0 5px 0px black;

	background-color: var(--palet-2);
}

// PALET: https://coolors.co/2b2d42-8d99ae-f0f5f6-ef233c-d90429

* {
	scroll-behavior: smooth;
	&::selection {
		background-color: var(--palet-2);
		color: white;
	}

	&:focus {
		outline: none;
	}
}

:root {
	/*--palet-1: #2b2d42;
	--palet-2: #8d99ae;
	--palet-3: #f0f5f6;
	--palet-4: #ef233c;
	--palet-5: #d90429;

	--text-1: #2b2d42;
	--text-2: #8d99ae;
	--text-3: #ef233c;*/

	--palet-1: #000000;
	--palet-2: #272d30;
	--palet-3: #d28402;
	--palet-4: #232527;
	--palet-5: #1a1d1e;

	--text-1: #2b2d42;
	--text-2: #656668;
	--text-3: #d28402;

	font-size: 22px;
}

body {
	overflow-x: hidden;

	@include simple-box();
	font-family: 'Montserrat', sans-serif;

	background-color: var(--palet-4);
	color: var(--text-2);

	text-align: center;
}

a {
	text-decoration: none;

	color: white;
	opacity: .9;

	$transition: ease-in 100ms;

	transition: color $transition, opacity $transition;

	cursor: pointer;

	&:hover {
		color: var(--text-3);
		opacity: 1;
	}
}

input {
	@include simple-box();

	&[type='text'] {
	}
}

.input {
	padding: 0;
	@include input();
}

.app {
	@include simple-box();

	> header {
		@include center();

		background-color: var(--palet-5);

		position: sticky;
		top: 0;

		z-index: 9999999;

		height: 80px;

		padding: 0px 10vw;

		a {
			opacity: 1;
		}

		> a {
			position: relative;

			left: -20px;

			img {
				z-index: 9999999+1;
			}

			> div {
				$metronome-margin: 40px;

				position: absolute;
				left: 80px - $metronome-margin;

				overflow: hidden;

				width: 110px;
				height: 50px;
				padding-left: $metronome-margin;
				padding-right: 20px;
			}
		}

		ul,
		nav {
			width: 100%;
		}

		ul {
			@include center();

			list-style: none;

			flex-direction: row;

			justify-content: flex-end;

			> * {
				margin: 1vw;
			}
		}
	}
	main {
		@include simple-box();
		min-height: 92vh;
	}

	> footer {
		@include simple-box();
		height: 25vh;

		background-color: var(--palet-2);

		> div > h3 {
			padding-top: 10px;
		}
	}
}

.header-sub {
	position: relative;
	top: -1.6em;

	color: var(--text-2);
	font-size: 0.9rem;
	letter-spacing: 0.025rem;
}

.center {
	@include center();
}

.center-grid {
	display: grid;
	align-items: center;
	justify-content: center;
}

.simple-box {
	@include simple-box();
}

code {
	background-color: var(--palet-5);
	padding: 0 3px;
}

.command {
	color: var(--text-3);
}
