.main {
	display: grid;

	grid-template-columns: calc(90vw - 500px) 500px;
	grid-template-rows: auto;

	gap: 100px;

	.header {
		color: #fff;

		width: 500px;
		height: 100%;

		background-color: var(--palet-5);

		.content {
			position: sticky;
			top: 40px;

			.downloads {
				position: relative;

				abbr {
					box-sizing: border-box;
					$height: 10px;

					display: inline-block;

					height: $height;

					position: absolute;
					left: 0;

					background-color: var(--palet-3);

					&:nth-child(1),
					&:nth-child(2) {
						width: 100%;
					}
					&:nth-child(1) {
						background-color: var(--palet-1);
					}

					$top: 3;

					@for $i from 0 through $top {
						&:nth-child(#{3 + $i}) {
							backdrop-filter: brightness(1 - ($i / $top));

							box-sizing: border-box;

							border-right: solid ($height / 2) var(--palet-5);
						}
					}
					$top: 6;
					@for $i from 2 through $top {
						&:nth-child(#{$i}) {
							transform-origin: left;

							animation: slide
								(0.2s + ($i / $top / 3))
								ease-in-out
								0.5s +
								0.1s *
								$i;
							animation-fill-mode: backwards;
						}
					}
					@keyframes slide {
						0% {
							transform: scaleX(0);
						}
						100% {
							transform: scaleX(1);
						}
					}
				}
			}

			.info {
				text-align: left;

				padding: 10px;

				*:not(:nth-child(1)) {
					position: relative;
					top: -1em;
				}

				.element {
					margin-bottom: 10px;

					border-bottom: solid 1px var(--palet-3);

					padding: 5px;

					&::before {
						display: block;

						font-size: 0.75em;
					}
				}
				.repo::before {
					content: 'repo:';
				}
				.size::before {
					content: 'unbundled size:';
				}
				.version::before {
					content: 'version';
				}
			}
		}
	}
	.readMe {
	}
}
